.high-score-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 12px;
    align-self: flex-start;
}

.question-container {
    max-width: 860px;
    width: 100%;
    background-color: var(--neutral-color-2);
    border: 1px solid var(--neutral-color-3);
    border-radius: var(--border-radius);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.question-content > h2 {
    line-height: 1.2;
}
.question-content > p {
    font-size: 18px;
    line-height: 1.2;
    margin: 12px 0;
}

.answers-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}
@media screen and (max-width: 768px) {
    .answers-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 480px) {
    .answers-container {
        grid-template-columns: 1fr;
    }
}

.answer-card {
    display: flex;
}
.answer-card > input[name='answer'] {
    display: none;
}
.answer-card > label {
    background-color: var(--neutral-color-3);
    border: 1px solid var(--neutral-color-3);
    border-radius: var(--border-radius);
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: filter 0.2s ease;
    flex: 1;
    line-height: 1.2;
}
.answer-card > label:hover {
    filter: brightness(0.95);
}
.answer-card > input[name='answer']:checked + label {
    outline: 2px solid var(--main-color);
    filter: brightness(0.95);
}
@media (prefers-color-scheme: dark) {
    .answer-card > label:hover {
        filter: brightness(1.15);
    }
    .answer-card > input[name='answer']:checked + label {
        filter: brightness(1.15);
    }
}
.answer-card > input[name='answer']:disabled + label {
    outline: none;
    filter: brightness(1);
    cursor: not-allowed;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;
}

.answer-button,
.start-again-button {
    color: #f1f5f9;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
    padding: 4px 18px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
}
.answer-button:hover,
.start-again-button:hover {
    filter: brightness(1.2);
}
.answer-button:disabled {
    filter: brightness(1.5);
    cursor: not-allowed;
}
@media (prefers-color-scheme: dark) {
    .answer-button:disabled {
        filter: brightness(0.5);
    }
}

label.correct-answer {
    background-color: var(--correct-color-1);
    border-color: var(--correct-color-2);
}
label.wrong-answer {
    background-color: var(--wrong-color-1);
    border-color: var(--wrong-color-2);
}

.next-button {
    cursor: pointer;
    background: none;
    border: none;
    transition: all 0.2s ease;
    color: var(--text-color);
    font-size: 16px;
    text-decoration: underline;
    font-weight: 700;
}
.next-button:hover {
    color: var(--main-color);
}

.answer-response-container {
    max-width: 860px;
    width: 100%;
    margin-top: 18px;
}

.correct-answer-message,
.wrong-answer-message {
    padding: 12px;
    width: fit-content;
    border-radius: var(--border-radius);
    line-height: 1.2;
}
.correct-answer-message {
    border: 1px solid var(--correct-color-2);
    background-color: var(--correct-color-1);
}
.wrong-answer-message {
    border: 1px solid var(--wrong-color-2);
    background-color: var(--wrong-color-1);
    margin-bottom: 18px;
}
