.question-container {
    max-width: 860px;
    width: 100%;
    background-color: var(--neutral-color-secondary);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.question-content > h2 {
    line-height: 1.2;
}
.question-content > p {
    font-size: 18px;
    line-height: 1.2;
    margin: 12px 0;
}

.answers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.answer-card {
    flex: 1;
    display: flex;
}
.answer-card > input[name='answer'] {
    display: none;
}
.answer-card > label {
    background-color: var(--border-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: filter 0.2s ease;
    flex: 1;
}
.answer-card > label:hover {
    filter: brightness(0.95);
}
.answer-card > input[name='answer']:checked + label {
    outline: 2px solid var(--main-color);
    filter: brightness(0.95);
}
@media (prefers-color-scheme: dark) {
    .answer-card > label:hover {
        filter: brightness(1.15);
    }
    .answer-card > input[name='answer']:checked + label {
        filter: brightness(1.15);
    }
}
.answer-card > input[name='answer']:disabled + label {
    outline: none;
    filter: brightness(1);
    cursor: default;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;
}

.answer-button {
    color: #f1f5f9;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
    padding: 4px 18px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
}
.answer-button:hover {
    filter: brightness(1.2);
}
.answer-button:disabled {
    filter: brightness(1.5);
    cursor: default;
}
@media (prefers-color-scheme: dark) {
    .answer-button:disabled {
        filter: brightness(0.5);
    }
}

label.correct-answer {
    background-color: #86efac;
    border-color: #4ade80;
}
label.wrong-answer {
    background-color: #fca5a5;
    border-color: #f87171;
}
@media (prefers-color-scheme: dark) {
    label.correct-answer {
        background-color: #166534;
        border-color: #22c55e;
    }
    label.wrong-answer {
        background-color: #991b1b;
        border-color: #ef4444;
    }
}

.next-question-button {
    cursor: pointer;
    background: none;
    border: none;
    transition: all 0.2s ease;
    color: var(--text-color);
    font-size: 16px;
    text-decoration: underline;
    font-weight: 700;
}
.next-question-button:hover {
    color: var(--main-color);
}
