:root {
  --primary-default: #374df5;
  --primary-variant: #1327ba;
  --primary-highlight: #e1edfe;

  --secondary-default: #f0eedf;
  --secondary-variant: #dddbc9;
  --secondary-highlight: #f7f6ef;

  --on-color-primary: #ffffff;
  --on-color-secondary: rgba(255, 255, 255, 0.6);

  --surface-0: #eff3f8;
  --surface-1: #ffffff;
  --surface-2: rgba(192, 207, 228, 0.2);

  --on-surface-lv1: #121212;
  --on-surface-lv2: rgba(18, 18, 18, 0.4);
  --on-surface-lv3: rgba(18, 18, 18, 0.2);
  --on-surface-lv4: rgba(18, 18, 18, 0.1);

  --error: #ea4545;
  --alert: #d8b127;
  --success: #1da86d;

  --live: #e93030;

  --border-radius: 16px;
}

.dark {
  --primary-default: #849afd;
  --primary-variant: #afbeff;
  --primary-highlight: #2d385c;

  --secondary-default: #3a3a39;
  --secondary-variant: #404039;
  --secondary-highlight: #171616;

  --on-color-primary: #ffffff;
  --on-color-secondary: rgba(255, 255, 255, 0.6);

  --surface-0: #101114;
  --surface-1: #21242d;
  --surface-2: rgba(0, 0, 0, 0.4);

  --on-surface-lv1: #ffffff;
  --on-surface-lv2: rgba(255, 255, 255, 0.4);
  --on-surface-lv3: rgba(255, 255, 255, 0.2);
  --on-surface-lv4: rgba(255, 255, 255, 0.1);

  --error: #f26666;
  --alert: #ecca51;
  --success: #30b87f;

  --live: #f14b4b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  background: var(--surface-0);
  display: flex;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

#__next {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
