.pokemonModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
}

.pokemonModal {
    background-color: var(--modal-bg-color);
    border-radius: var(--border-radius);
    border: none;
    overflow-y: auto;
    height: 80vh;
    max-width: 1509px;
    width: 100%;
    padding: 30px 35px;
    transform: translateY(100%);
    animation: slide-in 0.3s ease forwards;
}

@keyframes slide-in {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.pokemonListContainer {
    display: grid;
    align-content: start;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 35px;
}

.noPokemonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.noPokemonText {
    font-size: 24px;
    color: var(--text-color);
}

@media screen and (max-width: 900px) {
    .pokemonModalContainer {
        padding: 0 30px;
    }

    .pokemonModal {
        padding: 15px;
    }

    .pokemonListContainer {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .noPokemonText {
        font-size: 18px;
    }
}
