.settingsMenuContainer {
    width: 245px;
    padding: 17px;
    position: absolute;
    right: 0;
    top: 85px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    box-shadow: #00000040 0px 0px 16px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.settingsHeading {
    font-size: 16px;
}

.themeOptions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.themeOption {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 5px;
    cursor: pointer;
    width: max-content;
}

.optionIcon {
    width: 10px;
    height: 10px;
}

@media screen and (max-width: 900px) {
    .settingsMenuContainer {
        top: 50px;
    }
}
