body {
    height: 1000vh;
}

.header-container {
    min-height: 150vh;
    background-color: wheat;
}

.header {
    padding: 8px 0;
    background-color: darkblue;
    display: flex;
    gap: 24px;
    justify-content: center;
    position: sticky;
    top: 0;
}

@media screen and (max-width: 980px) {
    .header {
        display: none;
    }
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    background-color: darkblue;
    color: whitesmoke;
    padding: 0 16px;
    cursor: pointer;
}
.header-button:hover {
    background-color: blue;
}

.bottom-nav {
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 981px) {
    .bottom-nav {
        display: none;
    }
}

.bottom-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    background-color: whitesmoke;
    color: black;
    padding: 0 16px;
}
